---
---

@import "{{ site.theme }}";

body {
    background: #ece4d8;
    font: normal normal 15px/1.5 Georgia, Palatino,” Palatino Linotype”, Times, “Times New Roman”, serif;
    color: #544943;
    -webkit-font-smoothing: antialiased;
}

header {
  background: #7c334f;
}

section {
  background: #e5d4bb
}

#banner {
  background: #417090;
  border: 0px;
}

#banner .button {
    display: none;
}
